{% extends "temp.html" %}
{% load static %}
{% block content %}
    {{ block.super }}
    <div class="jumbotron">
      <h1>{{ PROJECTNAME }}</h1>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quo, tempora ipsa excepturi culpa quis possimus nisi, sed at hic assumenda. Quaerat possimus voluptas veritatis laboriosam minus inventore tempore similique!
        </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
{% endblock content %}